@charset "UTF-8";

*{
    background-color: rgb(252, 216, 139);
}
.p1{
    font-size: x-large;
    text-align: center;
}
header {
  font-size: 40px;
  font-family: Arial black;
  margin-left: 30%;
}

main img{
    width: 35%;
    height: 35%;
    margin-left: 30%;
}


h2 {
  font-size: 35px;
}
nav {
  text-align: center;
  font-size: medium;
}
